/* AdminHome.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  button {
    display: block;
    margin: 10px auto;
    padding: 15px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s, transform 0.2s;
  }
  
  button:hover {
    background-color: #000;
    transform: scale(1.05);
  }
  
  button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
  }
  
  button + button {
    margin-top: 0;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 600px) {
    .container {
      padding: 10px;
    }
  
    button {
      font-size: 16px;
    }
  }