/* SignupPage.css */
.signup-container {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 50px;
  background-color: #fff; /* White background */
}

.form-control {
  width: 100%;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #007bff; /* Blue color */
  color: #fff;
}
